In [1]:
import pandas as pd # 데이터프레임 사용을 위해
from math import log # IDF 계산을 위해

docs = ["정규 4집 및 리패키지 활동을 성공적으로 마친 그룹 세븐틴(SEVENTEEN)이 '핫(HOT)'한 기운을 그대로 품고 북미로 향했다", "데뷔 이후 꾸준히 성장을 거듭해온 이들은 8년 차가 된 올해 역시 지치지 않는 에너지로 '커리어 하이'를 달성하는 저력을 발휘했다", '탄탄히 쌓아온 팀의 내공은 전 멤버 재계약 체결 이후 더욱 빛을 발하고 있다', '세븐틴(에스쿱스, 정한, 조슈아, 준, 호시, 원우, 우지, 디에잇, 민규, 도겸, 승관, 버논, 디노) 하면 떠오르는 강점 세 가지는 바로 음반 강자, 자체 제작돌, 퍼포먼스다', '이번 정규 4집 및 리패키지 활동에서도 변함없이 이를 모두 증명해낸 세븐틴이었다', '단연 눈에 띄는 건 앨범 성적이다', "지난 5월 정규 4집 '페이스 더 선(Face the Sun)'을 발매한 데 이어 지난달 정규 4집 리패키지 앨범 '섹터 17(SECTOR 17)'을 내며 더블 히트에 성공했다", "7연속 밀리언셀러(단일 앨범 100만장 이상 판매)라는 대기록을 썼고, 미국의 메인 앨범 차트인 '빌보드 200'에서 4위를 기록하며 자체 최고 성적을 달성했다", "활동을 종료한 현재도 2주 연속 '빌보드 200'에 이름을 올리는 등 열기를 이어가고 있다.특히 이번 활동에서는 '하나 된 세븐틴'을 느끼기 충분했다", 'K팝 대표 보이그룹으로 이미 충분한 인기를 얻고 있음에도, 안주하지 않고 끝없이 발전하고 성장하려는 세븐틴의 의지는 앨범에 고스란히 녹아들었다', "'페이스 더 선'으로는 세상에 유일하고도 막대한 영향력을 끼치는 태양과 같은 존재가 되겠다며 더 높은 곳으로 오르겠다는 강력한 포부를 드러냈다", "'섹터 17'로는 태양을 뛰어넘기 위해 가장 높은 곳에 도달한 세븐틴의 모습, 자신들이 완성해낸 세상을 표현해냈다", "세븐틴은 직접 곡을 만들고 프로듀싱하는 대표적인 '자체 제작돌'이다", '데뷔 때부터 작사·작곡은 물론, 퍼포먼스 제작까지 도맡으며 주체적으로 본인들의 색깔을 내왔다', "이러한 내공은 쌓이고 또 쌓여 세븐틴을 '전하고자 하는 메시지를 자신들에게 가장 잘 어울리는 방식으로 표현할 줄 아는 그룹'으로 만들어 냈다", '다인원 군무 합이 만들어내는 짜릿한 쾌감도 이들만의 매력이다', "퍼포먼스에 강한 팀답게 압도적인 에너지를 바탕으로, 'HOT'에서는 강렬함을, '_월드(_World)'에서는 청량함을 십분 발휘했다."]
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()

In [2]:
# 총 문서의 수
N = len(docs) 

def tf(t, d):
  return d.count(t)

def idf(t):
  df = 0
  for doc in docs:
    df += t in doc
  return log(N/(df+1))

def tfidf(t, d):
  return tf(t,d)* idf(t)

In [5]:
result = []

# 각 문서에 대해서 아래 연산을 반복
for i in range(N):
  result.append([])
  d = docs[i]
  for j in range(len(vocab)):
    t = vocab[j]
    result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = vocab)
tf_

,'HOT'에서는,'_월드(_World)'에서는,'빌보드,'섹터,'자체,'전하고자,'커리어,'페이스,'하나,'핫(HOT)'한,...,하면,하이'를,합이,향했다,현재도,"호시,",활동에서는,활동에서도,활동을,히트에
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
1,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,1,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
16,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index=vocab, columns=["IDF"])
idf_

                       IDF
'HOT'에서는          2.140066
'_월드(_World)'에서는  2.140066
'빌보드              1.734601
'섹터               1.734601
'자체               2.140066
...                    ...
호시,               2.140066
활동에서는             2.140066
활동에서도             2.140066
활동을               1.734601
히트에               2.140066

[236 rows x 1 columns]

In [7]:
result = []
for i in range(N):
  result.append([])
  d = docs[i]
  for j in range(len(vocab)):
    t = vocab[j]
    result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_

,'HOT'에서는,'_월드(_World)'에서는,'빌보드,'섹터,'자체,'전하고자,'커리어,'페이스,'하나,'핫(HOT)'한,...,하면,하이'를,합이,향했다,현재도,"호시,",활동에서는,활동에서도,활동을,히트에
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.140066,...,0.000000,0.000000,0.000000,2.140066,0.000000,0.000000,0.000000,0.000000,1.734601,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.140066,0.000000,0.000000,0.000000,...,0.000000,2.140066,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.140066,0.000000,0.000000,0.000000,0.000000,2.140066,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.140066,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,1.734601,0.000000,0.000000,0.000000,1.734601,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.140066
7,0.000000,0.000000,1.734601,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,1.734601,0.000000,0.000000,0.000000,0.000000,0.000000,2.140066,0.000000,...,0.000000,0.000000,0.000000,0.000000,2.140066,0.000000,2.140066,0.000000,1.734601,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.734601,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,1.734601,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,2.140066,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,2.140066,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,2.140066,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,2.140066,2.140066,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

corpus = [
    'you know I want your love',
    'I like you',
    'what should I do ',    
]

vector = CountVectorizer()

# 코퍼스로부터 각 단어의 빈도수를 기록
print(vector.fit_transform(corpus).toarray())

# 각 단어와 맵핑된 인덱스 출력
print(vector.vocabulary_)

[[0 1 0 1 0 1 0 1 1]
 [0 0 1 0 0 0 0 1 0]
 [1 0 0 0 1 0 1 0 0]]
{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}